@import 'fonts.scss';
@import 'reset.scss';

body{
    font-family: 'Uni Neue';
    color: #000;
}

.green-text{
    color: #269F12;
}

.btn{
    background: #363636;
    border-radius: 3px;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    padding: 0;
}

.custom-breadcrumb{
    display: flex;
    align-items: center;
    margin-top: 26px;
    margin-bottom: 42px;
    a{
        font-weight: 500;
        line-height: 16px;
    }
    a, i {
        color: #838383;
        font-size: 12px;
        &:not(:last-child){
            margin-right: 20px;
            
        }
    }
}

.header{
    background-color: #E9EEF4;
    .navbar{
        padding-top: 38px;
        padding-bottom: 38px;
        padding-left: 110px;
        padding-right: 70px;
        @media screen and (max-width:1300px) {
            padding-left: 15px;
            padding-right: 15px;
        }
        .navbar-brand{
            margin-right: 130px;
            padding-top: 0;
            @media screen and (max-width:1700px) {
                margin-right: 40px;
            }
            @media screen and (max-width:1060px) {
                margin-right: 10px;
            }
        }
        .navbar-nav{
            max-width: 900px;
            flex-grow: 1;
            justify-content: space-between;
            .nav-item{
                .nav-link{
                    color: #6A6A6A;
                    @media screen and (max-width:1060px) {
                        font-size: 14px;
                    }
                    @media screen and (max-width:992px) {
                        font-size: 20px;
                        display: inline-block;
                    }
                }
                &.active{
                    .nav-link{
                        color: #94B636;
                    }
                }
            }
        }
        .header-contacts{
            display: flex;
            @media screen and (max-width:992px) {
                margin-top: 15px;
            }
            .phone{
                display: flex;
                width: 44px;
                height: 44px;
                border-radius: 50%;
                border: 0.5px solid rgba(43, 43, 43, 0.7);
                justify-content: center;
                align-items: center;
                @media screen and (max-width:1130px) {
                    width: 30px;
                    height: 30px;
                }
                @media screen and (max-width:992px) {
                    width: 44px;
                    height: 44px;
                }
                i{
                    font-size: 11px;
                    color: rgba(43, 43, 43, 0.7);;
                }
            }
            .contacts{
                margin: 0 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @media screen and (max-width:1130px) {
                    margin: 0 10px;
                }
                @media screen and (max-width:992px) {
                    margin: 0 20px;
                }
                p{
                    color: #6A6A6A;
                    font-size: 17px;
                    @media screen and (max-width:1130px) {
                        font-size: 14px;
                    }
                    @media screen and (max-width:992px) {
                        font-size: 17px;
                    }
                }
            }
            .apps{
                display: flex;
                align-items: center;
                button{
                    border: 0;
                    outline: 0;
                    padding: 0;
                    &:first-child{
                        margin-right: 10px;
                    }
                    i{
                        font-size: 20px;
                        &.fa-whatsapp{
                            color: #269F12;
                        }
                        &.fa-viber{
                            color: #6B3AD1;
                        }
                    }
                }
            }
        }
    }
}

.main-article{
    &-title{
        font-weight: normal;
        font-size: 45px;
        line-height: 61px;
        margin-bottom: 43px;
    }
    p{
        font-weight: normal;
        font-size: 16px;
        line-height: 31px;
    }
}

.articles-list{
    padding-top: 94px;
    padding-bottom: 122px;
    .article{
        flex-wrap: nowrap;
        margin-bottom: 60px;
        .article-img{
            @media screen and (max-width:992px) {
                min-width: 200px;
                max-width: 200px;
                img{
                    width: 100%;
                }
            }
        }
        .article-info{
            padding-left: 40px;
            display: flex;
            flex-direction: column;
            .article-desc{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                flex-grow: 1;
                .btn{
                    width: 241px;
                    height: 59px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @media screen and (max-width:1200px){
                        margin-top: 20px;
                    }
                }
            }
            h3{
                font-weight: normal;
                font-size: 25px;
                line-height: 34px;
                margin-bottom: 27px;
            }
            p{
                font-weight: normal;
                font-size: 16px;
                line-height: 31px;
            }
        }
    }
    .next-articles{
        display: flex;
        justify-content: center;
        button{
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            text-decoration-line: underline;
            color: #6A6A6A;
            border: 0;
            outline: 0;
            background-color: transparent;
        }
    }
}

.footer{
    background: url('/assets/img/footer-img.png') no-repeat 75% 200%,
                linear-gradient(to top, #e9edf4 0%, #fff 100%);
    padding-top: 42px;
    padding-bottom: 53px;
    @media screen and (max-width:576px) {
        padding-left: 15px;
        padding-right: 15px;
    }
    .header-contacts{
        display: flex;
        .phone{
            display: flex;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            border: 0.5px solid rgba(43, 43, 43, 0.7);
            justify-content: center;
            align-items: center;
            i{
                font-size: 11px;
                color: rgba(43, 43, 43, 0.7);;
            }
        }
        .contacts{
            margin: 0 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p{
                color: #6A6A6A;
                font-size: 17px;
            }
        }
        .apps{
            display: flex;
            align-items: center;
            button{
                border: 0;
                outline: 0;
                padding: 0;
                &:first-child{
                    margin-right: 10px;
                }
                i{
                    font-size: 20px;
                    &.fa-whatsapp{
                        color: #269F12;
                    }
                    &.fa-viber{
                        color: #6B3AD1;
                    }
                }
            }
        }
        &.phone-contacts{
            margin-bottom: 21px;
        }
        &.mail-contacts{
            margin-bottom: 30px;
            .contacts{
                justify-content: center;
            }
        }
    }
    .footer-info{
        >p{
            font-weight: normal;
            font-size: 13px;
            line-height: 18px;
            color: #363636;
        }
    }
    .copyright{
        margin-bottom: 15px;
    }
    .footer-logo-wrapper{
        align-items: flex-end;
        @media screen and (max-width:450px) {
            width: 100%;
            justify-content: space-between;
            flex-direction: row-reverse;
        }
        .footer-btn{
            width: 65px;
            height: 65px;
            border-radius: 50%;
            border: 1px solid #269F12;
            background-color: #fff;
            color: #269F12;
            outline: 0;
        }
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}