@font-face {
  font-family: 'Uni Neue';
  src: url("../assets/fonts/UniNeueHeavy.eot");
  src: local("Uni Neue Heavy"), local("UniNeueHeavy"), url("../assets/fonts/?#iefix") format("embedded-opentype"), url("../assets/fonts/UniNeueHeavy.woff2") format("woff2"), url("../assets/fonts/UniNeueHeavy.woff") format("woff"), url("../assets/fonts/UniNeueHeavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Uni Neue Book';
  src: url("../assets/fonts/UniNeueBook.eot");
  src: local("Uni Neue Book"), local("UniNeueBook"), url("../assets/fonts/UniNeueBook.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/UniNeueBook.woff2") format("woff2"), url("../assets/fonts/UniNeueBook.woff") format("woff"), url("../assets/fonts/UniNeueBook.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Uni Neue';
  src: url("../assets/fonts/UniNeueRegular.eot");
  src: local("Uni Neue Regular"), local("UniNeueRegular"), url("../assets/fonts/UniNeueRegular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/UniNeueRegular.woff2") format("woff2"), url("../assets/fonts/UniNeueRegular.woff") format("woff"), url("../assets/fonts/UniNeueRegular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Uni Neue';
  src: url("../assets/fonts/UniNeueLight.eot");
  src: local("Uni Neue Light"), local("UniNeueLight"), url("../assets/fonts/UniNeueLight.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/UniNeueLight.woff2") format("woff2"), url("../assets/fonts/UniNeueLight.woff") format("woff"), url("../assets/fonts/UniNeueLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Uni Neue';
  src: url("../assets/fonts/UniNeueBold.eot");
  src: local("Uni Neue Bold"), local("UniNeueBold"), url("../assets/fonts/UniNeueBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/UniNeueBold.woff2") format("woff2"), url("../assets/fonts/UniNeueBold.woff") format("woff"), url("../assets/fonts/UniNeueBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Uni Neue';
  src: url("../assets/fonts/UniNeueThin.eot");
  src: local("Uni Neue Thin"), local("UniNeueThin"), url("../assets/fonts/UniNeueThin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/UniNeueThin.woff2") format("woff2"), url("../assets/fonts/UniNeueThin.woff") format("woff"), url("../assets/fonts/UniNeueThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Uni Neue';
  src: url("../assets/fonts/UniNeueBlack.eot");
  src: local("Uni Neue Black"), local("UniNeueBlack"), url("../assets/fonts/UniNeueBlack.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/UniNeueBlack.woff2") format("woff2"), url("../assets/fonts/UniNeueBlack.woff") format("woff"), url("../assets/fonts/UniNeueBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Uni Neue';
  color: #000;
}

.green-text {
  color: #269F12;
}

.btn {
  background: #363636;
  border-radius: 3px;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  padding: 0;
}

.custom-breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 26px;
  margin-bottom: 42px;
}

.custom-breadcrumb a {
  font-weight: 500;
  line-height: 16px;
}

.custom-breadcrumb a, .custom-breadcrumb i {
  color: #838383;
  font-size: 12px;
}

.custom-breadcrumb a:not(:last-child), .custom-breadcrumb i:not(:last-child) {
  margin-right: 20px;
}

.header {
  background-color: #E9EEF4;
}

.header .navbar {
  padding: 0;
  padding-top: 38px;
  padding-left: 110px;
  padding-right: 70px;
}

.header .navbar .navbar-brand {
  margin-right: 80px;
  padding-top: 0;
}

.header .navbar .navbar-nav {
  max-width: 900px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .navbar .navbar-nav .nav-item .nav-link {
  color: #6A6A6A;
}

.header .navbar .navbar-nav .nav-item.active .nav-link {
  color: #94B636;
}

.header .navbar .header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .navbar .header-contacts .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 0.5px solid rgba(43, 43, 43, 0.7);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar .header-contacts .phone i {
  font-size: 11px;
  color: rgba(43, 43, 43, 0.7);
}

.header .navbar .header-contacts .contacts {
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .navbar .header-contacts .contacts p {
  color: #6A6A6A;
  font-size: 17px;
}

.header .navbar .header-contacts .apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar .header-contacts .apps button {
  border: 0;
  outline: 0;
  padding: 0;
}

.header .navbar .header-contacts .apps button:first-child {
  margin-right: 10px;
}

.header .navbar .header-contacts .apps button i {
  font-size: 20px;
}

.header .navbar .header-contacts .apps button i.fa-whatsapp {
  color: #269F12;
}

.header .navbar .header-contacts .apps button i.fa-viber {
  color: #6B3AD1;
}

.ultrasonography {
  padding-bottom: 107px;
}

.ultrasonography h2 {
  margin-bottom: 35px;
  font-weight: normal;
  font-size: 45px;
  line-height: 61px;
}

.ultrasonography p {
  margin-bottom: 51px;
  font-weight: normal;
  font-size: 16px;
  line-height: 31px;
}

.ultrasonography .warning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ultrasonography .warning .warning-icon {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border: 1px solid rgba(232, 236, 242, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.ultrasonography .warning .warning-icon .circle-1 {
  border: 1px solid #E8ECF2;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.ultrasonography .warning .warning-icon .circle-1 .circle-2 {
  background: #E8ECF2;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.ultrasonography .warning .warning-icon .circle-1 .circle-2 i {
  color: #B82F2F;
}

.ultrasonography .warning p {
  font-weight: normal;
  font-size: 16px;
  line-height: 31px;
  color: #868686;
  max-width: calc(100% - 100px);
  margin: 0;
  padding: 0;
}

.cards .card-item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.07);
  border-radius: 15px;
  padding: 28px 65px 60px 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards .card-item:not(:last-child) {
  margin-bottom: 52px;
}

.cards .card-item h2 {
  font-weight: 500;
  font-size: 25px;
  line-height: 34px;
  margin-bottom: 6px;
}

.cards .card-item h3 {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #706D6D;
  margin-bottom: 35px;
}

.cards .card-item p {
  font-weight: normal;
  font-size: 16px;
  line-height: 31px;
}

.cards .card-item .card-text-wrapper {
  margin-right: 74px;
}

.cards .card-item .card-img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards .card-item .card-img-wrapper div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 17px;
}

.cards .card-item .card-img-wrapper div:not(:last-child) {
  margin-right: 32px;
}

.cards .card-item .card-img-wrapper div span {
  font-weight: 500;
  font-size: 25px;
  line-height: 34px;
  margin-bottom: 20px;
}

.cards .show-more {
  margin-top: 35px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.cards .show-more button {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #6A6A6A;
  outline: 0;
  border: 0;
  background-color: transparent;
}

.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#E9EEF4), to(rgba(216, 223, 234, 0)));
  background: linear-gradient(180deg, #E9EEF4 0%, rgba(216, 223, 234, 0) 100%);
  padding-top: 42px;
  padding-bottom: 53px;
}

.footer .header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .header-contacts .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 0.5px solid rgba(43, 43, 43, 0.7);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .header-contacts .phone i {
  font-size: 11px;
  color: rgba(43, 43, 43, 0.7);
}

.footer .header-contacts .contacts {
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .header-contacts .contacts p {
  color: #6A6A6A;
  font-size: 17px;
}

.footer .header-contacts .apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .header-contacts .apps button {
  border: 0;
  outline: 0;
  padding: 0;
}

.footer .header-contacts .apps button:first-child {
  margin-right: 10px;
}

.footer .header-contacts .apps button i {
  font-size: 20px;
}

.footer .header-contacts .apps button i.fa-whatsapp {
  color: #269F12;
}

.footer .header-contacts .apps button i.fa-viber {
  color: #6B3AD1;
}

.footer .header-contacts.phone-contacts {
  margin-bottom: 21px;
}

.footer .header-contacts.mail-contacts {
  margin-bottom: 30px;
}

.footer .header-contacts.mail-contacts .contacts {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer-info > p {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #363636;
}

.footer .copyright {
  margin-bottom: 15px;
}

.footer .footer-logo-wrapper {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-logo-wrapper .footer-btn {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 1px solid #269F12;
  background-color: #fff;
  color: #269F12;
  outline: 0;
}
/*# sourceMappingURL=ultrasonography.css.map */